* {
    font-family: 'Amatic SC', cursive;
    letter-spacing: 2px;
}

.App {
    background-color: #6735fc;
}

.page-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid-position {
    /* width: 450px; */
}

.grid-container {
    display: grid;
    grid-auto-columns: min-content;
    grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
    justify-content: center;
    gap: 16px;
    background: #ffffff;
    border-radius: 16px;
    padding: 8px;
    border-style: inset;
    border-color: black;
    border-width: 2px;
    box-shadow: 0px 6px 0px 0px;
    width: min-content;
}

.grid-spot {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border-style: inset;
    border-color: black;
    box-shadow: inset 0px 6px 0px 0px rgba(0,0,0);
}

@media (max-width: 575px) {
    .grid-spot {
        width: 2.5rem;
        height: 2.5rem;
    }

    .grid-container {
        gap: 4px;
        grid-template-columns: 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem;
    }
}

.primary-btn {
    background-color: #4f21d8 !important;
    border-color: transparent !important;
    border-radius: 16px !important;
    font-size: 16px !important;
}

.player-color-indicator {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid black;
}

.player-name-input {
    /* background-color: #4f21d8 !important; */
    border-radius: 16px !important;
    text-align: center;
    color: black;
    width: 100%;
    font-size: 16px;
}

.player-name-input:focus-visible {
    outline-color: #4f21d8;
}

.scoreboard-text {
    color: whitesmoke;
    font-weight: bold;
}