.grid-position {
    display: flex;
    justify-content: center;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
    gap: 16px;
}

.grid-spot {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: red;
}

.grid-spot:hover {
    background-color: yellow;
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 10px 0px;
}